@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

a {
    text-decoration: none;
}

.video-container {
    width: 100%;
    height: 490px;
    position: relative;
}

.gray-text {
    color: gray;
}

.sub-btn-active {
    background: red;
}

.comment-form-control {
    width: 100%;
    padding: 10px 10px 10px 5px;
    border: none;
    border-bottom: 1px solid #919191;
}

.comment-form-control:focus {
    outline: none;
}

.search-btn {
    border: none;
}

.search-btn:focus {
    border: none;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
